$color-primary:#c62828;
$color-primary-light:#ce7272;
$color-primary-dark:#f74c07;

$color-grey-dark2:#999;
$color-grey-dark:#777;
$color-grey-light:#eee;
$color-white: rgb(255, 255, 255);
$color-black:#000;
$color-grey1: #f7f7f7;

$color-card-primary: rgb(128, 13, 222);
$color-card-primary2: rgb(45, 45, 234);

$color-card-secondary: rgb(245, 226, 10);
$color-card-secondary2: rgb(229, 103, 40);

$color-card-green: rgb(12, 207, 135);
$color-card-green2: rgb(9, 147, 9);